<a href="https://colab.research.google.com/github/Palakds/Palakds/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops in Python


1.   Need for loops
2.   While loops
3.   For loop

In [ ]:
# while loop to print table
# program -> sum of all digits of a given number
# keep accepting number from users till he/she enters a 0 and then find the avg

In [ ]:
number=int(input('Enter number'))
i =1
while i < 11:
  print(number,'*',i,'=',number * i)
  i += 1

Enter number11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [1]:
#while loop with else
x = 1
while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [4]:
#guessing game
#generate a random integer between 1 to 100
import random
jackpot=random.randint(1,100)
guess=int(input('guess kro '))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat! guess higher')
  else:
    print('galat!guess lower')
  guess=int(input('guess kro '))
  counter += 1
else:
  print('correct guess')
  print('attempts',counter)

guess kro 45
galat! guess higher
guess kro 56
galat! guess higher
guess kro 78
galat! guess higher
guess kro 99
galat!guess lower
guess kro 86
galat! guess higher
guess kro 90
galat! guess higher
guess kro 94
galat!guess lower
guess kro 93
correct guess
attempts 8

In [6]:
# for loop demo
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [7]:
# for loop example
for i in 'Delhi':
  print(i)

D
e
l
h
i

Program : The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each year.

In [9]:
curr_pop=10000
for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop=curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

Sequence sum
1/1! + 2/2! + 3/3! +...

In [12]:
n=int(input('enter n'))

result=0
fact=1
for i in range(1,n+1):
  fact=fact*1
  result=result + i/fact
print(result)

enter n5
15.0

### **Nested Loops**

In [13]:
# example -> Unique pairs
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

# Pattern 1


*

**

***

In [21]:
rows=int(input('enter number of rows'))
for i in range(1,rows+1):
  for j in range(1,i+1):
   print('*',end='')
  print()

enter number of rows5
*
**
***
****
*****

In [23]:
rows=int(input('enter number of rows'))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

enter number of rows4
1
121
12321
1234321

### loop control statement
. Break

. Continue

. pass

In [26]:
for i in range(1,10):
  if i==5:
    break
  print(i)

1
2
3
4

In [27]:
lower=int(input('enter lower range'))
upper=int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

enter lower range10
enter upper range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [33]:
# continue statement
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [34]:
for i in range(1,10):
  pass