<a href="https://colab.research.google.com/github/Palakds/Palakds/blob/main/Task_Session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
format='Data-science-mentorship-program-by-campusX'
print(format)

Data-science-mentorship-program-by-campusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# (0°C × 9/5) + 32 = 32°F
celsius = int(input("Enter the Temperature in Celsius :"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :10
Temperature in Fahrenheit : 50.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
num1=int(input('enter the first number :'))
num2=int(input('enter the second number :'))
print('before swap',num1,num2)
temp=num1
num1=num2
num2=temp
print('after number',num1,num2)

enter the first number :4
enter the second number :5
before swap 4 5
after number 5 4

###Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
import math
x1=float(input('enetr the x1-coordinate of the first point'))
y1=float(input('enter the y1-coordinate of the first point'))
x2=float(input('enter the x2-coordinate of the second point'))
y2=float(input('enter the y2-coordinate of the second point'))
distance=math.sqrt((x2-x1)**2 + (y2-y1)**2)
print(distance)

enetr the x1-coordinate of the first point3
enter the y1-coordinate of the first point4
enter the x2-coordinate of the second point1
enter the y2-coordinate of the second point2
2.8284271247461903

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads=int(input('total heads :'))
legs=int(input('total legs :'))
chicken_no=2*heads-(legs)/2
dog_no=heads-chicken_no
print('chicken number',chicken_no)
print('dog number',dog_no)

total heads :4
total legs :12
chicken number 2.0
dog number 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user

In [ ]:
import math
n=int(input('enter first n natural number :'))
sum=[(n*(n+1)*(2*n+1))/6]
print(sum)

enter first n natural number :3
[14.0]

In [ ]:
n=int(input('enter first n natural number :'))
i=1
sum=0
while(i <= n):
  sum = sum + (i*i)
  i = i+1
print(sum)

enter first n natural number :3
14

###Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user

In [ ]:
n=int(input('enter n :'))
a_0=1
a_1=3
d=a_1-a_0
sum=a_1+(n-1)*d
print(sum)

enter n :10
21

In [ ]:
# Function to calculate the nth term of an arithmetic series
def nth_term_of_arithmetic_series(first_term, common_difference, n):
    nth_term = first_term + (n - 1) * common_difference
    return nth_term

# Input values from the user in Jupyter notebook
first_term = float(input("Enter the first term of the arithmetic series: "))
common_difference = float(input("Enter the common difference: "))
n = int(input("Enter the value of n for the nth term: "))

# Calculate and display the nth term
result = nth_term_of_arithmetic_series(first_term, common_difference, n)
result

Enter the first term of the arithmetic series: 1
Enter the common difference: 3
Enter the value of n for the nth term: 7

19.0

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
num_1=int(input('enter the numerator 1 :'))
num_2=int(input('enter the numerator 2 :'))
den_1=int(input('enter the denomenator 1 :'))
den_2=int(input('enter the denominator 2 :'))
sum=(num_1/den_1)+(num_2/den_2)
print(sum)

enter the numerator 1 :1
enter the numerator 2 :3
enter the denomenator 1 :2
enter the denominator 2 :2
2.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [10]:
height=int(input('height of the tank in cm :'))
width=int(input('length of the tank in cm :'))
breadth=int(input('breadth of the tank in cm :'))
volume_tank=height*width*breadth
glass_height=int(input('height of the glass in cm :'))
glass_width=int(input('radius in cm :'))
volume_glass=glass_height*glass_width
num_glasses= (volume_tank) / (volume_glass)
print('Volume of tank :',volume_tank,'\n volume of glass :',volume_glass,' \n number of glasses :',num_glasses)

height of the tank in cm :20
length of the tank in cm :20
breadth of the tank in cm :20
height of the glass in cm :3
radius in cm :1
Volume of tank : 8000
 volume of glass : 3
 number of glasses : 2666.6666666666665